* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    background-color: #BDE9D3;
}

header {
    font-size: 45px;
    font-weight: bold;
}

header, p {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

p {
    font-size: 25px;
}

button {
    margin: 15px auto;
    display: block;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}

button:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    justify-content: center;
}

.boardTile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    font-size: 80px;
    cursor: pointer;
}

.boardTile:hover:not(.x):not(.o) { /* This will allow the user to hover on all board tiles except the x and o's */
    background-color: #BCD6EF;
}

.x {
    color: white;
    cursor: not-allowed;
}

.o {
    color: grey;
    cursor: not-allowed;
}

.done {
    cursor: not-allowed;
}

.winner {
    color: red;
    font-size: 110px;
}


/* This CSS gets rid of the outside border so the grid looks like it should */
#section1, #section2, #section3 {
    border-top: none;
}

#section1, #section4, #section7 {
    border-left: none;
}

#section7, #section8, #section9 {
    border-bottom: none;
}

#section3, #section6, #section9 {
    border-right: none;
}